일반적인 음성 마이크는 44.1kHz 샘플링을 하는데,
본 프로젝트에서는 192kHz 샘플링 되는 마이크를 사용하게 되었습니다.

linux shell 상에서는
arecord -t wav -c 1 -D default -f S16_LE -d 1 -r 192000 test1.wav
명령을 치면 정상적으로 녹음되고 파일저장 실행이 됩니다만,
1초 이상 길이만 녹음이 가능한 상황이라 (- d 옵션) 어려움이 있습니다.

요청드리는 바는
c /c++프로그래밍으로 작성하되
1) 메모리 상에 2개의 버퍼(65536개 저장)을 준비
2) 마이크 입력 thread를 CPU 1개에 전담(shell 명령어 taskset 0x02 & 명령어에 상응하는 함수 사용)
목적: 끊김없이 마이크 입력 받기 위함. 타 방법으로 구현해도 됨
3) 192kHz 마이크로 부터 한번에 65536개(시간상으로는 341ms 분량) 데이타를 받아서
메모리 상 버퍼에 저장
3) 먼저 입력된 버퍼에 대해서 FFT, gnu 함수 사용
관심 주파수: 10kHz, 20kHz, 30kHz, 40kHz, 50kHz, 60kHz, 70kHz, 80kHz에 대한 계수 벡터화
Normalization(분모값은 일단 100으로 설정, 향후 코드 상에서 변경가능토록 코멘트)
4) buffer 에 있는 데이터 파일로 저장.


==> 추가요구사항
제가 요청드린 내용은 1개 chunk(65536개)를 여러번 받을 수 있도록 하고, chunk와 chunk 사이에 끊김이 없도록 cpu 1개에 전담시키라고 요청드렸고, 
다른 방법으로 구현해도 된다고 했습니다. 
chunk 단위로 끊김없이 계속 입력받고, chunk 단위로 파일 저장하도록 수정 부탁드립니다. 
(단, 파일 이름은 시간정보로 설정해주시고, 최근 1분 이내 파일만 남기고, 오래된 파일은 자동 삭제하도록 해주세요.)
프로그램 중단은 키보드 입력 !end 이 들어오면 정지했으면 합니다.

